*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Calibri", sans-serif;   
  
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.header{
    display: block;
    margin-top: 10px;
    margin-bottom: 50%;
}

.header__top{
    display: flex;
    align-items: center;
}

.header__line{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

.header__nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.header__profile{
    width: 650px;
    display: flex;
    margin: 0 auto;
    justify-content: right;
}

.header__intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../img/savdo.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_img{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.header__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px 100px;
}

.header__title{
    font-size: 60px;
    margin: 0 auto;
    font-weight: bold;
}

.header__subtitle{
    color: #70d6ff;
    width: 70%;
    margin-top: 50px;
    font-size: 22px;
}

.header__btn{
    margin-top: 50px;
    width: 150px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    background-color: #00bbf9;
    transition: background .2s, color .2s;
}

.header__btn:hover{
    color: #00bbf9;
    background-color: #e9ecef;
}

.header__clr{
    color: #4cc9f0;
}

/* NAV */

.nav__item{
    text-decoration: none;
    color: #000;
    font-family: "Be Vietnam Pro", sans-serif;
    transition: color .2s;
    position: relative;
    font-size: 25px;
}

.nav__item:hover{
    color: #00bbf9;;
}

.nav__item::after{
    content: "";
    display: block;

    background-color: #00bbf9;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s;

    opacity: 0;
}

.nav__item:hover::after{
    opacity: 1;
}

.nav__col{
    font-size: 5px;
    color: #36ce6f;
    margin-right: 10px;
}

/* PROFILE */

.profile__navbar{   
    display: flex;
    align-items: center;
}

.profile__nav{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    padding-right: 10px;
}

.profile__nav_btn{
    width: 80%;
    font-size: 20px;
}

.profile__navbar-center{
    padding: 0 25px;
}

.profile__nav-color{
    color: #00bbf9;
}

/* Section */

.section{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.section__header{
    display: block;
    width: 100%;
    height: 100vh;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__suptitle{
    font-style: italic; 
    font-size: 24px;
    color: black;

}

.section__title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.section__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;

    background-color: #f38181;
}

.section__onemoretext{
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.section__text{
    text-align: left;
    font-size: 20px;
    color: #999;   
    position: left; 

}

/* INTRO */

.container{
    display: block;
    flex-direction: column;
    justify-content: center;
    height: 0;
}

.intro__title{
    margin-top: 50%;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.intro__row{
    display: block;
    flex-direction: column;
}

.intro_column{
    display: flex;
}

.intro_rows{
    display: flex;
    flex-direction: row;
}

.intro__cards{
    width: 200px;
    height: 150px;   
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5%;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 10px;
    background-color: #4361ee;
    transition: background .2s;
    text-align: center;
}

.intro__cards:hover{
    color: #4361ee;
    background-color: #e9ecef;
}

.intro__cards-last{
    width: 315px;
}

/*REGIONS*/

.regions__intro{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.regions_regions{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-right: 1px solid rgb(0, 0, 0);
}

.regions_row-left{
    width: 10%;
}

.regions_row-right{
    width: 90%;
}

.regions_cards{
    text-decoration: none;
    margin: 5px;
    color: #000;
    font-size: 18px;
    padding: 2px;
}

.regions_cards:hover{
    background: #70d6ff;
    color: aliceblue;
}


.market__title{
    text-align: center;
    margin-bottom: 20px;
}

#marketData{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 5px;
}

.marketItem{
    color: aliceblue;
    background-color: #2cb1e6;
    margin: 10px;
    padding: 10px;
    border-radius: 3%;
    transition: background .2s linear;
    text-align: center;
}

.marketItem:hover{
    background-color: #0077b6;
}


/* ITEM */

.item__intro{
    width: 100%;
}

.item_title{
    font-size: 50px;
}